@CHARSET "UTF-8";

table {
  border-collapse: separate; 
  border-spacing: 20px;
  }

  td {
    padding: 5px;
  }

  .filme li {
    list-style-type: none;
    list-style-position:inside;
    border: 1px solid #a0a0a0;
    padding: 20px;
  }

