{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=device-width, initial-scale=1">
        <title>Ingressos Expandr</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>

    <body>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #de3951;">
                    <img class="logo" src="{% static 'img/brand-white.png' %}" alt="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    
                  </nav>
        <div class="container">
            <div class="row content">
                {% block body %}


                {% endblock %}
            </div>
        </div>
    </body>

</html>