{% extends 'reserva/base.html' %} {% load i18n %} {% load static %}


{% block body %}

<h1>Expandr Cine</h1>

{% if filmes %}
{% for filme in filmes %}
<div class="filme">
            <h3></li>{{ filme.nome }}</h3>
            <span>Classificação: {{ filme.classificacao }}</span>
            <hr>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <ul class="navbar navbar-nav">
                    {% for sessao in programacao %}
                        {% if sessao.filme == filme %}
                            <li><a>{{ sessao.horario }}</a></li>    
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            </nav>
</div>
<br>
{% endfor %}

{% else %}
<p>Sem sessões abertas no momento</p>
{% endif %}

{% endblock %}