{% extends 'reserva/base.html' %} {% load i18n %} {% load static %}


{% block body %}

<h1>Expandr Cine</h1>

<ul class="nav nav-tabs">
    <li><a href="/">Hoje</a></li>
    {% for dia in dias %}
    <li><a href="/{{dia}}">{{dia}}</a></li>
    {% endfor %}
  </ul>

{% if filmes %}

{% for filme in filmes %}
<div class="filme">
            <h3></li>{{ filme.nome }}</h3>
            <span>Duracao: {{ filme.duracao }} minutos</span>
            <hr>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                <ul class="navbar navbar-nav">
                    {% for sessao in programacao %}
                        {% if sessao.filme == filme %}
                            <li class="nav-item">
                                <a class="nav-link" href="detail/{{ sessao.id }}">{{ sessao.horario }}</a>
                            </li>    
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            </nav>
</div>
<br>
{% endfor %}

{% else %}
<p>Sem sessões abertas no momento</p>
{% endif %}

{% endblock %}