{% extends 'reserva/base.html' %} {% load i18n %} {% load static %}
{% block body %}
<h1>{{ filme.nome }}</h1>
<div class="filme">
<nav class="navbar navbar-default">
<ul class="navbar navbar-nav left">
    <li class="nav-item">
        <h3>{{ sessao.sala.nome }}</h3>
    </li>
    <li class="nav-item">
            <h3>{{ sessao.horario }}</h3>
    </li>

    <li class="nav-item">
            <h3>{{ sessao.pub_data }}</h3>
    </li>
</ul>
</nav>
</div>
<form action="{{ sessao.id }}/reserva" method="POST">
{% csrf_token %}
Nome do cliente: <input required type="text" name="nome" id="nome">
<table class="poltronas">
{% for fileiras in poltronas %}
    <tr>
        {% for poltrona in fileiras %}
        {% if poltrona.cliente %}
            <td><button class="btn btn-danger disabled" type="button">{{ poltrona.posicao }}</button></td>
        {% else %}
            <td><button id='poltrona_id' class="btn btn-success active" type='submit' name = 'poltrona_id' value = '{{ poltrona.id }}'>{{ poltrona.posicao }}</button></td>
        {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>
</form>
{% endblock %}